.app{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    flex:1;
}

.footer{
    margin-top: 10px;
    padding: 15px;
    font-size: 17px;
    font-weight: bold;
    color: rgb(136, 136, 136);
}

.qty-button{
    width: 50px;
}

h1{
    font-size: 1.8rem;
    padding: 0.8rem 0;
}

h3{
    font-size: 1rem;
    padding: 0.6rem ;
}

h2{
    font-size: 1.4rem;
    /* padding: 0.5rem; */
}