
.success{
    color: rgb(1, 104, 1);
    padding: 14px;
    background-color: rgba(53, 253, 53, 0.9);
    width: 100%;
}

.error{
    color: rgb(131, 4, 4);
    padding: 14px;
    background-color: rgba(255, 61, 61, 0.9);
    width: 100%;
}

/* .msg-box{
    width: 100vw !important;
    display: ;
    margin: auto;
} */
.clear{
    margin-top: 5px;
    float: right;
}