.nav{
    width: 100%;
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    background-color: black;
    padding:0 30px;
}

.nav .brand{
    color: white;
    font-size: xx-large;
    font-weight: 400;
    margin-right: 20px;
}

.nav ul{
    display: flex;
    margin-left: auto;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

.nav ul li .sidebar-toggle{
    display: none;
}

.nav ul li .nav-link{
    padding-top: 0 !important;
    margin-top: 0 !important;
    text-decoration: none;
    color: white;
}
.dropdown-toggle{
    background-color: transparent;
    border: none;
    padding: 0 !important;
    outline: none;
}

.dropdown-toggle:hover{
    background-color: transparent;
    border: none;
    flex-wrap: nowrap;
    outline: none;
}

.sidebar{
    width:100%;
    background-color: rgb(20, 20, 20,0.9);
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: absolute;
    z-index: 2;
    top:0;
    padding: 5px !important;
    left: -100%;
    transition: 400ms;
    list-style: none;
    text-decoration: none;
}

.sidebar p{
    padding: 8px 0 0 15px;
}

.sidebar ul li {
    width: 100%;
    display: flex;
    border-radius: 2px;
}

.nav-link-clear{
    color: white;
}

.sidebar ul li .nav-link{
    color: white;
}

.sidebar ul li:hover{
    background-color: blue;
    box-shadow: 2px 2px rgb(51, 51, 51);
}

.profile-picture{
    height: 25px;
    width: 25px;
    object-fit: contain;
    border-radius: 50%;
}
.profile-picture-name{
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    padding-bottom: 2px;
    border-radius: 50%;
    background-color: rgb(250, 40, 75);
}



@media only screen and (max-width:770px){
    .nav ul li .sidebar-toggle{
        display: block;
    }
    .nav ul li .nav-link{
        display: none;
    }
    
}